@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-semibold tracking-wide;
    font-family: "Source Code Pro", monospace;
}

::-webkit-scrollbar {
    display: none;
}

.background-image {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
